In [22]:
import pandas as pd
import datetime

In [23]:
# load the data

In [25]:
df = pd.read_csv('data/varme20230814.csv', parse_dates=['Date'])
print(df)

        Date   Mhz
0 2023-08-14  0.01
1 2023-08-15  0.01
2 2023-08-16  0.01
3 2023-08-17  0.03
4 2023-08-18  0.03
5 2023-08-19  0.02
6 2023-08-20  0.01

In [26]:
# df['Date'].astype('datetime64[ns]')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    7 non-null      datetime64[ns]
 1   Mhz     7 non-null      float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 244.0 bytes

In [30]:
df

        Date   Mhz
0 2023-08-14  0.01
1 2023-08-15  0.01
2 2023-08-16  0.01
3 2023-08-17  0.03
4 2023-08-18  0.03
5 2023-08-19  0.02
6 2023-08-20  0.01